@keyframes custom-highlighter {
    0%   { background: none }
    1%   { background: transparent }
    15%  { background: #FFDC97 }
    99%  { background: transparent }
    100% { background: none }
}

.andreasmischke-gh-project-board-tool-A {
    animation: custom-highlighter 3s
}

.andreasmischke-gh-project-board-tool-T {
    background: #2ecc71;
    color: #eee;
}

.andreasmischke-gh-project-board-tool-U {
    background: #966;
    color: #eee;
    cursor: pointer
}

